*{
    padding: 0%;
    margin: 0%;
}
header{
    height: 76px;
    width: 1110px;
    padding: 0px 15px;
    background-color: #ffffff;
}
header li a {
    float: right;
}
header li{
    list-style-type: none;
    display: block;
}
.topnav li a:hover {
background-color: rgb(139, 177, 164);

}
header li a {
    padding: 0px 30px;
    text-decoration: none;
    color: rgb(29, 28, 28);
    text-transform: uppercase;
    font-size: 15px; 
}

.cont_btn {
    padding: 8px 20px;
    height: 38px;
    width: 88px;
    border-radius: 5px;
    border: 2px;
    font-size: 15px; 
    text-align: center;
}

